@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.conteiner {
    max-width: 1840px;
    margin: 0 40px;
}
.header .conteiner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p {
    font-size: 20px;
    /* color: #000000; */
}
.header p::before {
    content: "";
    background-image: url("../img/eng.png");
    margin-right: 42px;
    width: 39px;
    height: 16px;
    display: inline-block;
}

main {
    margin-top: 70px;
    background-image: url("../img/backgraund-img.png");
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 650px;
}

main .conteiner {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

/* .conteiner .main-text {
    margin-left: 5px;
} */

.navigation {
    position: sticky;
    top: 150px;
    margin-right: 100px;
}

.navigation ul {
    min-width: 300px;
}

.navigation li {
    margin-bottom: 93px;
    font-weight: 900;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    list-style: decimal;
    border-bottom: 2px solid #BFBFBF;
}
/* .navigation li::after {
    content: "";
    border-bottom: 2px solid #BFBFBF;
    width: 100px;
} */

.navigation li a {
    text-decoration: none;
    color: #000;
}

.main-text {
    margin-top: 75px;
}

.main-text h2 {
    margin: 15px 0 40px;
    text-transform: uppercase;
}

.main-text a {
    color: #000;
}

.main-text li, p {
    margin: 40px 0;
}

.main-text p span {
    background-color: gray;
}

.border {
    display: inline-block;
    background-color: #000;
    width: 80px;
    height: 9px;
}